# Visual Studio Code
.vscode/

# Node
node_modules/

# Python byte-compiled files
__pycache__/

# Packaging and distribution
dist/

# Ruff
.ruff_cache/

# Environment variables
.env

# SQLite
*.sqlite3

# Django
media/
staticfiles/

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.xml
.htmlcov/
