extend-exclude = [
  "reactor/**/migrations/*.py",
]

[lint]
ignore = [
  "ANN",
  "D",
  "PLC0415",
  "RUF012",
]
select = ["ALL"]

[lint.per-file-ignores]
"reactor/conf/settings/*.py" = [
  "N802",
]
"tests/**/*.py" = [ # astral-sh/ruff#4368
  "ARG",
  "E501",
  "PLR2004",
  "S101",
]

[lint.isort]
section-order = [
  "future",
  "standard-library",
  "third-party",
  "django",
  "first-party",
  "local-folder",
]

[lint.isort.sections]
django = ["django"]
