[project]
name = "reactor"
version = "1.dev0"
requires-python = ">=3.14"
dependencies = [
  "dj-database-url>=3.1.0,<4",
  "django>=6.0.1,<7",
  "django-storages>=1.14.6,<2",
  "gunicorn>=23.0.0,<24",
  "pillow>=12.1.0,<13",
  "psycopg[binary]>=3.3.2,<4",
  "python-decouple>=3.8,<4",
  "whitenoise>=6.11.0,<7",
]

[dependency-groups]
dev = [
  { include-group = "debug" },
  { include-group = "djlint" },
  { include-group = "nox" },
  { include-group = "pytest" },
  { include-group = "ruff" },
]
debug = [
  "django-debug-toolbar>=6.1.0,<7",
]
djlint = [
  "djlint>=1.36.4,<2",
]
nox = [
  "nox==2025.11.12",
]
pytest = [
  "model-bakery>=1.21.0,<2",
  "pytest>=9.0.2,<10",
  "pytest-cov>=7.0.0,<8",
  "pytest-custom-exit-code>=0.3.0,<0.4",
  "pytest-django>=4.11.1,<5",
  "pytest-env>=1.2.0,<2",
  "pytest-mock>=3.15.1,<4",
  "pytest-randomly>=4.0.1,<5",
]
ruff = [
  "ruff>=0.14.11,<0.15",
]

[tool.uv]
default-groups = []
required-version = ">=0.9.22,<0.10"
