[project]
name = "reactor"
version = "1.dev0"
requires-python = ">=3.14"
dependencies = [
  "dj-database-url>=3.1.0,<4",
  "django>=6.0.1,<7",
  "pillow>=12.1.0,<13",
  "psycopg[binary]>=3.3.2,<4",
  "python-decouple>=3.8,<4",
]

[dependency-groups]
dev = [
  { include-group = "debug" },
  { include-group = "ruff" },
]
debug = [
  "django-debug-toolbar>=6.1.0,<7",
]
ruff = [
  "ruff>=0.14.11,<0.15",
]

[tool.uv]
default-groups = []
required-version = ">=0.9.22,<0.10"
