services:
  uv:
    image: ghcr.io/astral-sh/uv:0.9.22-python3.14-bookworm
    environment:
      - UV_LINK_MODE=copy
    volumes:
      - ../..:/workspaces
  postgres:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
  pgadmin:
    depends_on:
      - postgres
    image: dpage/pgadmin4:9
    environment:
      - PGADMIN_DEFAULT_EMAIL=postgres@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=postgres
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - 8080:80
    user: root
    entrypoint: /bin/sh -c "chmod 600 /pgpass; /entrypoint.sh;"
    configs:
      - source: servers
        target: /pgadmin4/servers.json
      - source: pgpass
        target: /pgpass

configs:
  pgpass:
    content: postgres:5432:*:postgres:postgres
  servers:
    content: |
      {
        "Servers": {
          "1": {
            "Group": "Servers",
            "Name": "postgres",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "postgres",
            "Username": "postgres",
            "PassFile": "/pgpass",
            "SSLMode": "prefer"
          }
        }
      }

volumes:
  postgres:
  pgadmin:
